
<style type="text/css">
    /* Set a fixed scrollable wrapper */
    .tableWrap {
        border: 2px solid black;
        overflow: auto;
    }
    /* Set header to stick to the top of the container. */
    table.ajaxgrid_table thead tr th {
        position: sticky;
        top: 0;
    }

    table.ajaxgrid_table tfoot tr th {
        position: sticky;
        bottom:0;
    }

    /* If we use border,
we must use table-collapse to avoid
a slight movement of the header row */
    table.ajaxgrid_table {
        border-collapse: collapse;
    }

    /* Because we must set sticky on th,
 we have to apply background styles here
 rather than on thead */
    table.ajaxgrid_table th {
        padding: 16px;
        padding-left: 15px;
        border-left: 1px dotted rgba(200, 209, 224, 0.6);
        border-bottom: 1px solid #e8e8e8;
        background: #ffc491;
        text-align: left;
        /* With border-collapse, we must use box-shadow or psuedo elements
  for the header borders */
        box-shadow: 0px 0px 0 2px #e8e8e8;
    }

    /* Basic Demo styling */
    table.ajaxgrid_table {
        width: 100%;
        font-family: sans-serif;
    }

        table.ajaxgrid_table td {
            padding: 16px;
        }

        table.ajaxgrid_table tbody tr {
            border-bottom: 2px solid #e8e8e8;
        }

    table.ajaxgrid_table thead {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
    }

    table.ajaxgrid_table tbody tr:hover {
        background: #e6f7ff;
    }

    table.ajaxgrid_table tbody tr.selected {
        background: #96d3f0;
    }
    
    table.ajaxgrid_table tbody div.expander-content {
        border: solid 2px green;
        padding: 2px 2px 2px 2px;
    }


    .tableWrap div.column-menu {
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
</style>

<script type="text/template" id="vmf-template-ajaxgrid">

    <div class="tableWrap">
        <table class="ajaxgrid_table">
            <thead>
                <tr>
                    <th v-if="checkboxSelect" class="grid_col_sel">
                        <input type="checkbox" />
                    </th>
                    <th v-if="expandableRows" class="grid_col_expand">
                        
                    </th>
                    <th v-for="c in visibleColumns"><span class="col_hdr_name" v-bind:data-id="c.name" v-on:click="columnClick(c)">{{c.label}}</span></th>

                </tr>
            </thead>
            <tbody>
                <template v-for="r in rows" :key="r.key">
                    <tr v-bind:entityref="r.key" v-bind:class="getRowClasses(r)" v-on:click="rowClicked(r, $event)">
                        <td v-if="checkboxSelect" class="grid_col_sel">
                            <input type="checkbox" v-model="selectedKeys" :value="r.key" v-on:click.stop="">
                        </td>
                        <td v-if="expandableRows" class="grid_col_expand">
                            <button v-bind:text="r.expanded ? 'v' : '>'" v-on:click.stop="expanderClicked(r, $event)"></button>
                        </td>
                        <td v-for="c in visibleColumns"><span>{{r.data[c.name]}}</span></td>
                    </tr>
                    <Transition>
                        <tr v-if="r.expanded" class="expander-row">
                            <td v-bind:colspan="totalVisibleColumns">
                                <div v-pre class="expander-content"></div>
                            </td>
                        </tr>
                    </Transition>
                </template>
                
                
            </tbody>
            <tfoot>
                <tr>
                    
                    <th v-bind:colspan="totalVisibleColumns">

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cols
                            </button>
                            <div class="dropdown-menu">
                                <a v-for="c in columns">
                                    <label class="checkbox"><input type="checkbox" /> {{c.label}}</label>
                                </a>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous" v-on:click="moveByPages(-1)">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next" v-on:click="moveByPages(1)">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>


                        </nav>

                    </th>
                </tr>
            </tfoot>
        </table>
    </div>


</script>

<template id="vmf-template-listgrid">
    <vmf-ajaxgrid style="height:300px"  :list-columns="columns" checkbox-select="false" :data-callback="provideData" :query-context="queryContext"
                  expandable-rows="false" key-field="_primaryKey" row-class-field="_rowCss"></vmf-ajaxgrid>
</template>

<script type="text/javascript">

    //ajaxgrid
    //we expect the data to come as json array, records as js objects
    //columns are set up beforehand
    VMF.addVueComponents(function (vueApp) {
        vueApp.component('vmf-ajaxgrid', {
            props: ['listColumns', 'dataUrl', 'keyField', 'labelField', 'rowClassField', 'rowStyleField', 'pageSize', 'listRows', 'expandableRows', 'checkboxSelect', 'rowDetailsUrl', 'dataCallback', 'queryContext', 'orderBy'],
            template: '#vmf-template-ajaxgrid',
            emits: [],
            mixins: [],
            data: function () {
                var cols = this.listColumns || [];
                var rowz = [];
                if (this.listRows) {
                    console.log('list key', this.keyField);
                    for (var i = 0; i < this.listRows.length; i++) {
                        rowz.push({ data: this.listRows[i], key: this.keyField ? this.listRows[i][this.keyField] : null });
                    }
                }
                
                var cols2 = [];
                for (var i = 0; i < cols.length; i++) {
                    var c = cols[i];
                    if (!c) continue;
                    if (_.isString(c)) {
                        cols2.push({
                            name: c,
                            label: c,
                            type: 'string',
                            visible: true
                        })
                    }
                    else if (_.isObject(c)) {
                        cols2.push(c);
                    }
                }
                console.log('cols', cols2, 'rows', rowz, 'keyField', this.keyField);

                return {
                    rows: rowz,
                    columns: cols2,
                    pageSize: 25,
                    page: 0,
                    maxPageReached: 0,
                    hasMoreData: false,
                    selectedKeys: [],
                    selectedKey: null,
                    loading: false,
                    totalCount: undefined,
                    queryContext: this.queryContext,
                    sortOrder: this.orderBy ? this.orderBy : ''
                }
            },
            methods: {
                loadPage: function (n) {
                    if (n <= 0) return;
                    var me = this;
                    if (this.dataCallback) {
                        console.log('calling data callback');
                        var q = {
                            start: (n - 1) * this.pageSize,
                            limit: this.pageSize,
                            page: n,
                            context: this.queryContext
                        };
                        this.loading = true;
                        this.dataCallback(q, function (err, data) {
                            this.loading = false;
                            if (err) {
                                me.showError(err);
                                return;
                            }
                            var rowz = [];
                            for (var i = 0; i < data.rows.length; i++) {
                                rowz.push({ data: data.rows[i], key: this.keyField ? data.rows[i][this.keyField] : null });
                            }
                            me.rows = rowz;
                            me.hasMoreData = true == data.hasMoreData;
                            me.page = n;
                        });
                    }
                    else {
                        this.page = n;
                    }
                },
                showError: function (e) {

                },
                moveByPages: function (inc) {
                    var me = this;
                    var np = me.page + inc;
                    if (np < 0) np = 0;
                    this.loadPage(np);
                },
                getRowClasses: function (r) {
                    p = [];
                    if (this.rowClassField) {
                        v = r.data[this.rowClassField];
                        if (v) p.push(v);
                    }
                    k = r.key;
                    if (k == this.selectedKey || this.selectedKeys.includes(k)) {
                        p.push('selected');
                    }
                    return p;
                },
                rowClicked: function (r, e) {
                    console.log('ckk', e, r);
                    k = r.key;
                    this.selectedKey = k;
                    if (e && e.ctrlKey) {
                        ix = this.selectedKeys.indexOf(k);
                        if (ix >= 0) {
                            this.selectedKeys.splice(ix, 1);
                        }
                        else {
                            this.selectedKeys.push(k);
                        }
                    }
                    else {
                        this.selectedKeys = [k];
                    }
                    console.log('k', this.selectedKey, this.selectedKeys);
                    //if (!this.selectedKeys.includes(k)) this.selectedKeys.push(k);
                },
                expanderClicked: function (r, e) {
                    r.expanded = !r.expanded;
                    var me = this;
                    if (r.expanded) {
                        Vue.nextTick(function () {
                            var r1 = $(e.target).closest('tr');
                            var r2 = r1.next();
                            console.log('rv', r1, 'r2', r2);
                            if (!r2.hasClass('expander-row')) return;
                            var tds = r2.children('td');
                            
                                var td = $(tds).children('div.expander-content');
                                $(td).load(me.rowDetailsUrl, { key: r.key }, function () {
                                    console.log('rq completed', arguments, 'expandable', me.expandableRows, 'tds', tds);
                                    $(td).show(500);
                                });
                            $(td).hide();
                        });
                    }
                },
                columnClick: function (c) {
                    var ob = this.sortOrder;
                    if (ob == c.name) {
                        this.sortOrder = c.name + ' desc';
                    }
                    else {
                        this.sortOrder = c.name;
                    }
                    console.log('col clicked', c, this.sortOrder);

                }

            },
            watch: {

            },
            computed: {
                visibleColumns: function () {
                    var me = this;
                    var c = [];
                    
                    for (var i = 0; i < this.columns.length; i++) {
                        var cc = this.columns[i];
                        if (false === cc.visible) continue;
                        c.push(cc);
                    }

                    return c;
                },
                totalVisibleColumns: function () {
                    var n = (this.expandableRows ? 1 : 0) + (this.checkboxSelect ? 1 : 0);
                    for (var i = 0; i < this.columns.length; i++) {
                        var cc = this.columns[i];
                        if (false === cc.visible) continue;
                        n++;
                    }
                    return n;
                }
            },
            mounted: function () {
                console.log('grid mounted');
                this.loadPage(1);
            }
        });


        vueApp.component('vmf-listgrid', {
            props: ['listId', 'listConfig'],
            template: '#vmf-template-listgrid',
            emits: [],
            mixins: [],
            data: function () {
                
                return {
                    config: this.listConfig,
                    pageSize: 20,
                    queryContext: {
                        Filters: [
                            {
                                Name: "query",
                                Args: ""
                            }
                        ]
                    }
                }
            },
            methods: {
                provideData: function (q, callback) {
                    console.log('provide data', q);
                    var d = {
                        ListId: this.listId,
                        Start: q.start,
                        Limit: q.limit,
                        Filters: q.context.Filters
                    };
                    $.ajax({
                        contentType: 'application/json',
                        data: JSON.stringify(d),
                        dataType: 'json',
                        success: function (data) {
                            console.log("call OK", data);
                            callback(undefined, {
                                rows: data.Results,
                                hasMoreData: data.HasMore
                            });
                        },
                        error: function (err) {
                            console.log("call error", err);
                        },
                        processData: false,
                        type: 'POST',
                        url: '@Url.Action("Query", "List")'
                    });
                },
            },
            watch: {

            },
            computed: {
                columns: function () {
                    c = [];
                    for (var i = 0; i < this.config.Columns.length; i++) {
                        var c0 = this.config.Columns[i];
                        c.push({
                            name: c0.Name,
                            label: c0.Name
                        });
                    }
                    return c;
                }
            }
        });

    });

       

</script>