
<style>
    .vmf_input:required {
        border: solid 1px #ff6a00;
    }
</style>

<script type="text/javascript">

    var fieldMixin = {
        computed: {
            isRequired: function () {
                return this.context && this.context.Access == 'Required';
            },
            isEditable: function () {
                return this.context && (this.context.Access == 'Required' || this.context.Access == 'ReadWrite');
            }
        }
    }

    //field with label
    Vue.component('vmf-field-lbl', {
        props: ['context', 'value'],
        data: function () {
            console.log('my ctx', this.context);
            console.log('my attrs', this.$attrs);
            return {
                fieldCtx: this.context
            };
        },
        methods: {
            handleInput: function (e) {
                console.log('Zinput', e);
            }
        },
        template: `
            <div class="form-group">
                <label>{{context.Label}}</label>
                <vmf-field class="form-control" v-bind:context="fieldCtx" v-bind:value="value" v-on:input="$emit('input', $event)"></vmf-field>
            </div>`,
        tm0: `<vmf-field v-bind:context="fieldCtx" v-bind:value="value" v-on:input="$emit('input', $event)"></vmf-field>`
    });

    Vue.component('vmf-field', {
        props: ['context', 'value'],
        mixins: [fieldMixin],
        data: function () {
            console.log('my2 ctx', this.context);
            return {
                fieldCtx: this.context
            };
        },
        computed: {
            fieldComponentName: function () {
                console.log('context: ', this.fieldCtx);
                var cx = this.fieldCtx;
                if (cx) {
                    if (cx.FieldType) {
                        return 'vmf-' + cx.FieldType;
                    }
                }
                return 'vmf-textfield'
            }
        },
        template: `
            <component  v-bind:is="fieldComponentName" v-bind:value="value" v-bind:context="fieldCtx" v-on:input="$emit('input', $event)" />
        `
        
    });


    Vue.component('VmfTextfield', {
        props: ['context', 'value'],
        mixins: [fieldMixin],
        computed: {
            
        },
        template: `<input class="vmf_input"  v-bind:value="value" v-bind:required="isRequired" v-on:input="$emit('input', $event.target.value)" />`
    });

    Vue.component('vmf-numberfield', {
        mixins: [fieldMixin],
        props: ['context'],
        template: `<input type="number" class="form-control" v-bind:required="isRequired"  v-on:input="$emit('input', $event.target.value)" />`
    });

    Vue.component('vmf-selectfield', {
        mixins: [fieldMixin],
        props: ['context', 'value'],
        data: function () {
            return {
                val: this.value
            }
        },
        computed: {
            optionsAdjusted: function () {
                var cx = this.context;
                console.log('the select context', cx);
                if (!cx.Options) return [];
                var r = [];
                for (var i = 0; i < cx.Options.length; i++) {
                    var v = cx.Options[i];
                    if (v == null) {
                        r.push({ Id: "", Label: "" });
                    }
                    else if (Array.isArray(v)) {
                        r.push({ Id: v[0], Label: v.length <= 1 || !v[1] ? v[0] : v[1] });
                    }
                    else if (VMF.isObject(v)) {
                        r.push(v);
                    }
                    else r.push({ Id: v, Label: v });
                }
                return r;
            }
        },
        template: `
        <select class="form-control" v-bind:required="isRequired" v-bind:value="value" v-on:change="$emit('input', $event.target.value)" >
            <option v-for="opt in optionsAdjusted" v-bind:value="opt.Id">
                {{ opt.Label }}
            </option>
        </select>
        `
    });

    Vue.component('vmf-datefield', {
        mixins: [fieldMixin],
        props: ['context'],
        template: `<input type="date" class="form-control" v-bind:required="isRequired"  v-on:input="$emit('input', $event.target.value)" />`
    });

</script>