@using VMF.UI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    //Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}

<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }

    body {
        background-image: url("../Images/login_bg.jpg");
        background-color: #cccccc;
    }
</style>


<div class="login-form">
    <form id="login" role="form" method="post">
        <h2 class="text-center">Telebuddies log in</h2>
        <div class="form-group">
            @Html.ValidationSummary(true)
            @Html.ValidationMessageFor(m => m.Login, "User name or email is required")
            <input type="text" class="form-control" placeholder="User name" name="Login" id="Login" required="required">
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(m => m.Password, "Password is required")
            <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="javascript:alert('please contact system administrator')" class="pull-right">Forgot Password?</a>
        </div>
    </form>
    
</div>

@section Scripts {
   
}