@using VMF.UI.Lib
@using Newtonsoft.Json

@model FormViewModel

@{ 

    var json = JsonConvert.SerializeObject(Model);
}




</div>
<script type="text/javascript" id="fsscript_@Model.FormScopeId">
        var fid = 'fsc_@Model.FormScopeId';
        
        var el = document.getElementById(fid);
        
        var vueInst = VMF.getVueApp({
            data: function () {
                return @Html.Raw(json);
            }
        });
        vueInst.mount(el);
</script>