
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="~/Home/Main">Main Vuetify view</a><br />
    <a href="~/Home/Static0">St0</a><br />

    <a href="~/Home/Static1">St1</a><br />
    <a href="~/Home/Static2">St2</a><br />

    <a href="~/Home/Static3">St3 vue tify</a><br />


    <a href="~/Home/Modal1">Modal 1</a><br />

    <a href="~/Details/Show?entity=SysUser&id=2">Sys user details</a>
    <br/>
    <a href="~/Account/LogOff">Log out</a>
</p>