@using VMF.Core
@using Newtonsoft.Json

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutV5.cshtml";
    var id = Guid.NewGuid().ToString("N");

    var ldp = VMFGlobal.ResolveService<IListDataProvider>();
    var list = ldp.GetList("Sql.List1");
}



<div style="border:solid 2px green;" id="V_@id">
    <vmf-ajaxgrid style="height:60vh" :list-rows="rows" :list-columns="columns" checkbox-select="true" 
                  expandable-rows="true" key-field="Id" row-class-field="_rowCss"
                  row-details-url="@Url.Action("Static0_Part", "Home")"
                  ></vmf-ajaxgrid>


    <div>

        <vmf-listgrid :list-id="list2Id" :list-config="list2Config" ></vmf-listgrid>
    </div>
</div>


<script type="text/javascript">

    var list1 = @Html.Raw(JsonConvert.SerializeObject(list));
    var vm = VMF.getVueApp(
    {
        data: function () {
            console.log('data args', arguments);
            r = [];
            fns = ['John', 'Bob', 'Frank', 'Alice', 'Betty', 'Theo'];
            lns = ['Smith', 'Brown', 'Green', 'Redneck', 'Mann', 'Schneider', 'Batata', 'Longman', 'Olafson', 'Butterworth'];
            for (var i = 0; i < 100; i++) {
                r.push({
                    Id: i, FirstName: fns[i % fns.length], LastName: lns[i % lns.length], DateOfBirth: "" + (1960 + 2 * (i % 57)) + "-" + (1 + i % 12) + "-" + (i % 30),
                    _rowCss: i % 5 == 0 ? 'row_active' : ''
                });
            }
            return {
                listId: 'Test list',
                columns: ['Id', 'FirstName', 'DateOfBirth', {
                    name: 'LastName',
                    label: 'Last name'
                }],
                rows: r,
                list2Config: list1,
                list2Id: list1.ListId
            }
        },
        computed: {
            
        },
            methods: {
                
        },
            mounted: function () {
                var me = this;
                console.log('MAIN MOUNTED!!!', me.$el);
            }
    });
    vm.mount(document.getElementById('V_@id'));

</script>