
@{
    ViewBag.Title = "Index";
    var id = Guid.NewGuid().ToString("N");
}

<h2>Index</h2>


<div class="vfm_form" id="@id">
    <h2>{{Values.FirstName}} {{Values.LastName}} of age {{Values.Age}}</h2>
    <h3>Pleci: {{Values.Sex}} and DOB {{Values.DateOfBirth}}</h3><br />
    <h3>Groups: {{Values.Groups}}</h3>

    <div class="row">
        <div class="col-md-4">
            <label>Last name</label>
            <input type="text" v-model="Values.LastName" />
        </div>
        <div class="col-md-4">
            <label>Last name 2</label>
            <input type="text" v-model="Values.LastName" />
        </div>
        <div class="col-md-4">
            <vmf-testfield v-bind:context="Context.LastName" v-model="Values.LastName"></vmf-testfield>
        </div>
        <div class="col-md-3">
            <vmf-field-lbl v-bind:context="Context.Age" v-model="Values.Age"></vmf-field-lbl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <vmf-field v-bind:context="Context.Sex" v-model="Values.Sex"></vmf-field>
        </div>
        <div class="col-md-3">
            <vmf-field-lbl v-bind:context="Context.Sex" v-model="Values.Sex"></vmf-field-lbl>
        </div>
        <div class="col-md-3">
            <vmf-field-lbl v-bind:context="Context.Smutator" v-model="Context.Sex.FieldType"></vmf-field-lbl>
        </div>
    </div>

    <div class="row">

        <!--
    <div class="col-md-3">
        <label>vmf-multiselect Groups</label><br />
        <vmf-multiselectfield v-bind:context="Context.Groups" v-model="Values.Groups"></vmf-multiselectfield>
    </div>
        -->
        
    <div class="col-md-3">
        <label>msfield Groups</label><br />
        <vmf-msfield v-bind:context="Context.Groups" v-model="Values.Groups"></vmf-msfield>
    </div>
        
        <!--
    <div class="col-md-3">
        <label>vmfield Groups</label><br />
        <vmf-field v-bind:context="Context.Groups" v-model="Values.Groups"></vmf-field>
    </div>
        -->

        <div class="col-md-3">
            <label>raw Groups</label><br />
            <select v-model="Values.Groups" multiple>
                <option v-for="(opt, idx) in Context.Groups.Options" v-bind:value="opt.Id">
                    {{ opt.Label }}
                </option>
            </select>
        </div>

        <div class="col-md-3">
            <vmf-field-lbl v-bind:context="Context.ActualAge" v-bind:value="actualAge"></vmf-field-lbl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button type="button" v-on:click="changeGroups()">Change groups</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    var vm = VMF.getVueApp(
    {
            data: function () {
                return {
                    Values: {
                        FirstName: 'Rafal',
                        LastName: 'Kowalski',
                        Age: 77,
                        Sex: 'F',
                        DateOfBirth: undefined,
                        Groups: [1, 5]
                    },
                    Context: {
                        FirstNameFld: {
                            Label: 'Imię',
                            FieldType: 'textfield',
                            Access: 'Required'
                        },
                        LastName: {
                            Label: 'Nazwisko',
                            FieldType: 'textfield',
                            Access: 'Required'
                        },
                        Age: {
                            Label: 'Wiek',
                            FieldType: 'numberfield',
                            Access: 'ReadWrite'
                        },
                        ActualAge: {
                            Label: 'Wiek z daty',
                            FieldType: 'textfield',
                            Access: 'ReadOnly'
                        },
                        Sex: {
                            Label: 'Plec',
                            FieldType: 'selectfield',
                            Access: 'ReadWrite',
                            Options: [
                                { Id: 'M', Label: 'Mezczyna' },
                                { Id: 'F', Label: 'Dziewczyna' }
                            ]
                        },
                        Smutator: {
                            Label: 'S-mutator',
                            FieldType: 'selectfield',
                            Access: 'ReadWrite',
                            Options: [
                                "textfield", "selectfield"
                            ]
                        },
                        DateOfBirth: {
                            Label: 'Data ur.',
                            FieldType: 'datefield',
                            Access: 'Required'
                        },
                        Groups: {
                            Label: 'Groups',
                            FieldType: 'multiselectfield',
                            Access: 'ReadWrite',
                            Options: [
                                { Id: 1, Label: 'Users' },
                                { Id: 2, Label: 'Product owners' },
                                { Id: 3, Label: 'Administrators' },
                                { Id: 4, Label: 'Sellers' },
                                { Id: 5, Label: 'Production' },
                                { Id: 6, Label: 'Claims' },
                                { Id: 7, Label: 'Hotline' },

                            ]
                        },
                    }
                }
            },
        computed: {
            actualAge: function () {
                if (!this.Values.DateOfBirth) return 0;
                var d0 = new Date(this.Values.DateOfBirth);
                return new Date().getYear() - d0.getYear();
            },
            
        },
        methods: {
            changeGroups: function () {
                console.log('change groups');
                this.Values.Groups = [1, 3, 6];
            }
        }
    });
    vm.mount(document.getElementById('@id'));

</script>