@using VMF.Core
@using VMF.BusinessObjects
@using VMF.UI.Lib

@model SysUser

@using (var sc = new FormBuilder(Model, Html))
        {

            sc.AddModelValue("Email", Model.Email);
            sc.AddValueWithContext("Active", Model.Active, Model, new WidgetContext
            {
                Access = FieldAccess.Editable
            });
            sc.AddValueWithContext("Name", Model.Name, Model, new WidgetContext
            {
                Access = FieldAccess.Required,
                Label = "User name"
            });


    <h2>{{Values.Name}}</h2>
    <h3>Active: {{Values.Active}}</h3>
    <br />



    <div class="row">
        <div class="col-md-4">
            <vmf-field v-bind:context="Context.Name" v-model="Values.Name"></vmf-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <vmf-field-lbl v-bind:context="Context.Active" v-model="Values.Active"></vmf-field-lbl>
        </div>
        

    </div>


}

