<!DOCTYPE html>
<html>
<head>
    <!-- v5 layout - adminlte-->
    <meta charset="utf-8" />


    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">

    <title>@ViewBag.Title - My ASP.NET Application (vue 4)</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/WMFUI.js"></script>

</head>

@Html.Partial("VUI/VUIAllV3")
<body>
    @RenderBody()
    
</body>
</html>